---
layout: default
---
<div class="home">
  {% for post in site.posts %}

    {% if post.category == site.citation_category_name %}
      <div class="boxed  push-down-45">
        <div class="meta">
          <img class="wp-post-image" src="/assets/images/quote.jpg" alt="Blog image" width="748" height="324">
          <q class="meta__quote">
            {{ post.title }}
          </q>
          <div class="meta__container">
            <div class="row">
              <div class="col-xs-12  col-sm-8">&nbsp;</div>
              <div class="col-xs-12  col-sm-4">
                <div class="meta__comments">
                  {{ post.author }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="boxed  push-down-45">

      <div class="meta">
        <img class="wp-post-image" src="/images/{{ post.image }}" alt="Blog image" width="748" height="324">
        <div class="meta__container">
          <div class="row">
            <div class="col-xs-12  col-sm-8">
              <div class="meta__info">
                <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span>  &nbsp; {{ post.date | date: "%-d/%m/%Y" }}</span> 
              </div>
            </div>
            <div class="col-xs-12  col-sm-4">
              <div class="meta__comments">
                <span class="glyphicon glyphicon-tag"></span> &nbsp; {{ post.category }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-10  col-xs-offset-1">
          <div class="post-content--front-page">
            <h2 class="front-page-title">
              <a href="{{ post.url }}">{{ post.title }}</a> 
            </h2>
            {% if post.content contains "<!--more-->" %}
              {{ post.content | split:"<!--more-->" | first % }}
            {% else %}
              {{ post.content | strip_html | truncatewords:100 }}
            {% endif %}
          </div>
          <a href="{{ post.url }}">
          <div class="read-more">
            Lire la suite
            <div class="read-more__arrow">
              <span class="glyphicon  glyphicon-chevron-right"></span> 
            </div>
          </div>
        </a>   
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
