<!-- Widget author -->
<div class="widget-author  boxed  push-down-30">
  <div class="widget-author__image-container">
    <div class="widget-author__avatar--blurred">
      <img src="/assets/images/avatar.jpg" alt="Avatar image" width="90" height="90">
    </div>
    <img class="widget-author__avatar" src="/assets/images/avatar.jpg" alt="Avatar image" width="90" height="100">
  </div>
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <h4>Thomas Brelet</h4>
      <p>Je suis développeur iOS Freelance. J'accompagne des startups dans la réalisation de leurs applications mobiles. Si vous voulez en savoir plus, c'est <a href="http://thomas.brelet.net">par ici</a></p>
    </div>
  </div>
</div>
<div class="sidebar  boxed  push-down-30">
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">

      <!-- Widget categories -->
      <div class="widget-categories  push-down-30">
        <ul>
          <li>
            <a href="/categories/">Catégories</a> 
          </li>
        </ul>
      </div>

      <!-- Widget Twitter -->
      <div class="widget-twitter  push-down-30">
        <h6>Twitter</h6>
        <a class="twitter-timeline" href="https://twitter.com/Toam" data-widget-id="452480223766790144">Tweets by @Toam</a> 
        <script>
          ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + "://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, "script", "twitter-wjs");
        </script>
      </div>
      
    </div>
  </div>
</div>