---
layout: default
---

<div class="boxed  push-down-45">
	<div class="meta">
    <img class="wp-post-image" src="/images/{{ page.image }}" alt="Blog image" width="748" height="324">
    <div class="meta__container">
      <div class="row">
        <div class="col-xs-12  col-sm-8">
          <div class="meta__info">
            <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span>  &nbsp; {{ page.date | date: "%-d/%m/%Y" }}</span> 
          </div>
        </div>
        <div class="col-xs-12  col-sm-4">
          <div class="meta__comments">
            <span class="glyphicon glyphicon-tag"></span> &nbsp; {{ page.category }}
          </div>
        </div>
      </div>
    </div>
	</div>

	<div class="row">
	  <div class="col-xs-10  col-xs-offset-1">
	    <div class="post-content--front-page">
	      <h2 class="front-page-title">
	        <a href="single-post.html">{{ page.title }}</a> 
	      </h2>
	      {{ content }}
	    </div>
	    
	    <hr>

	    {% if page.comments %}
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'blogdetoam'; // required: replace example with your forum shortname
			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		{% endif %}
	  </div>
	</div>
</div>